@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@theme {
  --animate-shimmer: shimmer 2s linear infinite;
  @keyframes shimmer {
    from {
      transform: translateX(-100%) skewX(-20deg);
    }
    to {
      transform: translateX(200%) skewX(-20deg);
    }
  }
}
